#home .content {
  padding: 25px;
  margin-bottom: 75px;
  background-color: white;
  border-radius: 15px;
}
#home h1 {
  font-size: 50px;
  font-family: "Playfair Display";
}
#home h2 {
  font-size: 25px;
  font-family: "Playfair Display";
}
.linkIcons {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.githubIcon,
.linkedinIcon {
  font-size: 50px;
}
.githubIcon {
  color: black;
}
.githubIcon:visited {
  color: black;
}
.linkedinIcon {
  color: #0a66c2;
}
.arrows {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 50px;
  color: white;
}
.down {
  font-size: 40px;
}
#down1,
#down2,
#down3 {
  animation: pulse 1s infinite;
}
#down1 {
  animation-direction: alternate;
  animation-delay: alternate;
}
#down2 {
  animation-delay: 0.2s;
  animation-direction: alternate;
}
#down3 {
  animation-delay: 0.3s;
  animation-direction: alternate;
}
@keyframes pulse {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
